doctype html
html(id='playArea')
  head
    block vars
    title #{title}
    link(href = '/sass/main.css' rel = 'stylesheet')
  body
    div(id='playArea')
      header
        ul(class = 'nav-left' id='navbar-left')
          li
            a(href='/' class='link') Home
        li
          a(href='/' class='link')
            img(src='/images/MAMA_logo.png' class='nav-logo')
        ul(class = 'nav-right' id='navbar-right')
          li
            a(href='/about' class='link') About Us
      block content
    footer